<!DOCTYPE html>
<html>
  <meta http-equiv="refresh" content="{{ refresh_interval }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <title>Pisces on {{ hostname }}</title>
  <body>
    <header class="w3-container w3-blue w3-margin-bottom">
      <h1>Pisces v{{ version }} on {{ hostname }}</h1>
      <p>Current time: {{ time }}</p>
    </header>
    <div class="w3-row-padding w3-margin-bottom">
      <div class="w3-col" style="width:25%">
        <div class="w3-container {{ last_colour }} w3-margin-bottom w3-padding-16">
          <p>Time of last sensor reading:</p>
          <h2>{{ last_time.strftime('%H:%M') }} ({{ "%d" | format(last_mins) }} mins ago)</h2>
        </div>
      </div>
      <div class="w3-col" style="width:18%">
        <div class="w3-container {{ water_colour }} w3-margin-bottom w3-padding-16">
          <p>Water temperature:</p>
          <h2>{{ "%2.1f" | format(water_temp) }}&#8451;</h2>
        </div>
      </div>
      <div class="w3-col" style="width:18%">
        <div class="w3-container {{ air_colour }} w3-margin-bottom w3-padding-16">
          <p>Air temperature:</p>
          <h2>{{ "%2.1f" | format(air_temp) }}&#8451;</h2>
        </div>
      </div>
      <div class="w3-col" style="width:18%">
        <div class="w3-container {{ cooling_colour }} w3-margin-bottom w3-padding-16">
          <p>Cooling fan:</p>
          <h2>{{ cooling_status }}</h2>
        </div>
      </div>
      <div class="w3-col" style="width:18%">
        <div class="w3-container {{ lights_colour }} w3-margin-bottom w3-padding-16">
          <p>Lights:</p>
          <h2>{{ lights_status }}</h2>
        </div>
      </div>
    </div>
    <div class="w3-row-padding w3-margin-bottom">
      <img src="/static/temperature_plot_{{ last_time.strftime("%Y-%m-%dT%H:%M:%S%z") }}.png"
	alt="Plot of temperature history" class="w3-image"/>
    </div>
  </body>
</html>
